## Сборка .NET / Visual Studio
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
.vs/
*.user
*.suo
*.dbmdl
*.userosscache
*.sln.docstates

## Rider / VS Code
.idea/
.vscode/

## NuGet
*.nupkg
project.lock.json
project.fragment.lock.json

## Прочее
*.log
.DS_Store
Thumbs.db
